body{
    margin: 0%;
    border-style: dashed;
    border-width: 5px;
    border-color:#2c2e83 ;
    background-color: #e2e2ff;
}
h3{
    font-size: larger;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #2c2e83;
    text-decoration-line: underline;
    text-decoration-color: #2c2e83;
    text-align: center;
    margin-bottom: 50px;
}
img{
    width: 15px;
}

p{

    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    padding-left: 25px;
}
.name{
    text-transform: capitalize;
    font-weight: 500;
}

button{
    font-size: 20px;
    margin-bottom: 30px;
    margin-top: 140px;
    padding: 10px;
    margin-bottom: 50px;
    margin-left: 300px;
    border: none;
    background-color: #2c2e83;
    opacity: calc(70%);
    color: black;
}
p.Ty{
font-style: italic;
font-family: 'Times New Roman', Times, serif;
font-size: 12px;
color: grey;
}
div.liste{
    margin: 60px;
}